* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #888;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-left: 25px;
}

input:focus {
    border-color: #6c63ff;
}

button {
    padding: 10px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #574fe7;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}

.buttonGroup > button {
    width: 100%;
}

.forgotLink,
.registerButton {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.forgotLink {
    color: #6c63ff;
    background-color: transparent;
}

.registerButton {
    background-color: #5cb85c;
    text-decoration: none;
}

.registerButton:hover {
    background-color: #479c47;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    max-width: 600px;
    aspect-ratio: 2/1.75;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.closeModalButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
